<!-- index.html -->
<!DOCTYPE html>
<html ng-app="meuApp" ng-controller="MeuController">
<meta charset="UTF-8">

<head>
    <title>Meu Projeto AngularJS</title>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/modal.controller.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/modal.css">
</head>

<body>
    <header-component></header-component>
    <div class="container">
        <h1>Tela de Permissões</h1>
        <p>Verifique e ajuste suas permissões abaixo:</p>

        <!-- Botão de Adicionar -->
        <div class="add-button-container">
            <button class="green-button" type="button" ng-click="mostrarModal()">Adicionar</button>
        </div>

        <!-- Dentro do container principal -->
        <table>
            <thead>
                <tr>
                    <th>Perfil</th>
                    <th>Funcionalidade</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in usuarios">
                    <td>{{ usuario.perfil }}</td>
                    <td>{{ usuario.hierarquia }}</td>
                    <td> <!-- Coluna de Opções -->
                        <button class="blue-button" ng-click="editarUsuario(usuario, $index)">Editar</button>
                        <button class="red-button" ng-click="deletarUsuario(usuario)">Deletar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Modal -->
        <div id="myModal" class="modal" ng-show="showModal">
            <div class="modal-content">
                <span class="close" id="closeModal" ng-click="fecharModal()">&times;</span>
                <h2>Adicionar Funcionalidade</h2>
                <div class="form-group">
                    <label for="usuario">Perfil:</label>
                    <select id="perfilName" name="usuario" ng-model="perfilName" required ng-disabled="perfilNameDisabled">
                        <option value="" disabled selected>Selecione um perfil</option>
                        <option value="Analista de Sistemas">Analista de Sistemas</option>
                        <option value="Diretoria">Diretoria</option>
                        <option value="Supervisor">Supervisor</option>
                        <option value="Coordenador">Coordenador</option>
                        <option value="Estagiario">Estagiario</option>
                    </select>
                </div>
                <div class="form-group">
                    <div id="hierarquia">
                        <label for="hierarquia">Funcionalidade:</label>
                        <ul>
                            <li>
                                <label>
                                    <input type="checkbox" name="Cadastro" class="pai" ng-model="hierarquia.Cadastro" ng-change="marcarDesmarcarFilhos('Cadastro')" ng-click="toggleMostrarFilhos('Cadastro')"> Cadastro
                                </label>
                                <ul ng-show="mostrarFilhosCadastro">
                                    <li>
                                        <label>
                                            <input type="checkbox" name="Funcionario" class="filho" ng-model="hierarquia.Funcionario"> Funcionario
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" name="Produtos" class="filho" ng-model="hierarquia.Produtos"> Produtos
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" name="Usuario" class="filho" ng-model="hierarquia.Usuario"> Usuario
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" name="Perfil" class="filho" ng-model="hierarquia.Perfil"> Perfil
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
                <button class="green-button" ng-click="adicionarUsuario()" ng-show="!editando">Salvar</button>
                <button class="red-button" ng-click="fecharModal()" ng-show="!editando">Fechar</button>
                <button class="green-button" ng-click="salvarEdicao()" ng-show="editando">Salvar Edição</button>
            </div>
        </div>
    </div>
    <footer-component></footer-component>
</body>

</html>